@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Parisienne&display=swap');
@import url('https://fonts.cdnfonts.com/css/francisco');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;400&family=Gowun+Batang&family=Parisienne&display=swap');

@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    scroll-behavior: smooth;
}

body {
    font-size: 4vw;
    line-height: 0;
    box-sizing: border-box;
}

body,
div,
img,
span,
p {
    margin: 0;
    padding: 0;
    font-family: 'Chosunilbo_myungjo';
    text-align: center;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex_layout {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background: #333;
}

.layout__ {
    position: relative;
    max-width: 430px;
    width: 100vw;
    background: #fff;
    z-index: 1;
}

.container {
    max-width: 100vw;
}

.header {
    position: relative;
    background: #fff;
    height: 100vh;
    /*display: grid;grid-template-rows: 1fr auto;*/
    overflow: hidden;
    max-height: 735px;
}

.area .subTitle {
    font-size: 0.9rem;
    line-height: 2em;
    font-family: 'Chosunilbo_myungjo';
    color: #666;
}

.place_info .subTitle {
    font-size: 1rem;
}

.header {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.header .text {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: clamp(20px, 12vw, 60px) 0 0;
    background: linear-gradient(0deg, transparent, rgba(220, 227, 234, 0.8));
    position: absolute;
    width: 100vw;
    height: 7vh;
    max-width: 430px;
}

.header .text p {
    font-family: 'GyeonggiBatang';
    font-size: 1rem;
    line-height: 1.5rem;
    position: relative;
    animation: fadeInUp 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

.header .text p:first-child {
    animation-delay: 0s;
}

.header .img_top {
    position: absolute;
    top: 0;
}

.header .img_top>img {
    width: 100%;
}

.header .main_img>img {
    width: 100%;
    height: 100%;
}

.main_img {
    position: relative;
}

.place_info {
    padding: 35px 0 65px;
    background: #fff;
    color: #333;
}

.place_info>.name {
    font-family: 'Francisco';
    font-size: 1.9rem;
    margin-bottom: 15px;
    line-height: 2rem;
}

.greeting_wrap .inner {
    background: #fbfbfd;
    background: url(../images/patterns.png);
    padding: 50px 0;
}

.greeting_wrap h3 {
    font-family: 'GyeonggiBatang';
    font-size: 1.1rem;
    line-height: 1.1rem;
    font-weight: 100;
    margin: 50px 0 20px;
    color: #333;
}

.greeting_wrap .tt {
    font-size: 0.9rem;
    color: #8A92B3;
    font-family: 'GowunBatang-Regular';
    line-height: 2.5em;
    border-bottom: 1px solid rgba(138, 146, 179, 0.15);
}

.intrd_area>div:not(.icon) {
    display: inline-flex;
    flex-direction: column;
}

.intrd_area .icon {
    background: url(../images/icon.svg) no-repeat 50% 50%;
    width: 20px;
    height: 36px;
    background-size: 20px auto;
    position: relative;
    margin: 0 auto;
    filter: invert(64%) sepia(10%) saturate(813%) hue-rotate(191deg) brightness(89%) contrast(95%);
    margin-bottom: 20px;
}

.greeting_wrap .invitation {
    font-size: 0.9rem;
    line-height: 2em;
    color: #333;
}

.greeting_wrap .wave_container {
    top: -50px;
    height: 70px;
}

.greeting_wrap .parallax use {
    animation: none;
}

.wave_container {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100vw;
    max-width: 430px;
}

.waves {
    position: relative;
    width: 100%;
    height: 50px;
    min-height: 40px;
    max-height: 50px;
}

/* Animation */
.parallax>use {
    animation: move-forever 25s cubic-bezier(0.55, .5, 0.45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

@media (min-width: 280px),
(max-width: 319px) and (orientation: portrait) {
    .header .img {
        display: flex;
        justify-content: center;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@media (horizontal-viewport-segments: 2) {

    /* 가로보기일 경우 */
    body {
        background-color: green;
    }
}

@media (vertical-viewport-segments: 2) {

    /* 세로보기일 경우 */
    body {
        background-color: blue;
    }
}

.area {
    opacity: 0;
}

.area.view {
    animation: fadeInUp 1s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.moving {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.moving.heart2 {
    animation: heart2 20s linear infinite;
    background: url(../images/heart2.png), url(../images/heart3.png);
    pointer-events: none;
    background-size: cover;
}

@keyframes flower3 {
    0% {
        background-position: 0 0, 0 0, 0 0;
    }

    50% {
        background-position: 500px 500px, 100px 200px, -100px 140px;
    }

    to {
        background-position: 1000px 1000px, 200px 300px, -200px 300px;
    }
}

@keyframes heart2 {
    0% {
        background-position: 0 0, 0 0, 0 0;
    }

    50% {
        background-position: 500px 500px, 100px 200px, -100px 140px;
    }

    to {
        background-position: 1000px 1000px, 200px 300px, -200px 300px;
    }
}

.img_wrap,
.img_wrap img {
    width: 100%;
    box-sizing: border-box;
}

.info_wrap {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_box {
    font-size: 1.1rem;
    line-height: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre;
    margin-bottom: 15px;
    color: #666;
}

.info_box span {
    color: #333;
}

.info_box em {
    font-style: normal;
    font-size: 0.8rem;
    padding: 0 10px;
    color: #666;
}

.info_box.bride em {
    padding: 0 15px;
}

.info_box.bride {
    margin-bottom: 0;
}

.info_box .mobile {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%231C274C' d='m14.556 15.548-.455.48s-1.083 1.139-4.038-1.972c-2.955-3.111-1.872-4.25-1.872-4.25l.287-.303c.706-.744.773-1.938.156-2.81L7.374 4.91C6.61 3.83 5.135 3.688 4.26 4.609L2.691 6.26c-.433.457-.723 1.048-.688 1.705.09 1.68.808 5.293 4.812 9.51 4.247 4.47 8.232 4.648 9.861 4.487.516-.05.964-.329 1.325-.709l1.42-1.496c.96-1.01.69-2.74-.538-3.446l-1.91-1.1c-.806-.463-1.787-.327-2.417.336Z' opacity='.5'/%3E%3C/svg%3E");
}

.calendar_wrap {
    padding: 60px 0;
    background: #fbfbfd;
}

.area h4 {
    font-family: 'Parisienne';
    font-size: 1rem;
    line-height: 1rem;
    margin: 0 0 15px;
    color: #8A92B3;
    font-weight: 400;
    letter-spacing: 0.15rem;
}

.calendar_wrap .title .month {
    font-family: 'Crimson Pro';
    font-size: 1.5rem;
    line-height: 2.2rem;
    font-weight: 200;
    color: #333;
}

.calendar_wrap .title .place {
    font-size: 1rem;
    line-height: 1.2rem;
    color: #666;
}

.calendar_wrap .datetime {
    display: inline-block;
    font-size: 1rem;
    line-height: 1.7rem;
    padding: 16px 30px;
    margin-top: 1rem;
    letter-spacing: 1px;
    border-radius: 8px
}

.calendar_wrap .hours {
    margin-bottom: 1.25rem;
    letter-spacing: 1px;
    font-size: .9rem;
    line-height: 1rem;
}

.dday_wrap {
    letter-spacing: -.5px;
    border-left: 0;
    border-right: 0;
    font-size: .9rem
}

.dday_wrap .highlight {
    color: #ea7664;
    font-weight: bold;
}

.dday_wrap .countdown {
    font-family: 'Crimson Pro';
    margin: 0 0 10px
}

.dday_wrap .countdown>div {
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 1rem;
    text-transform: uppercase;
}

.dday_wrap .countdown>div>span {
    padding: 0 2px;
    text-align: center;
    line-height: 1.8rem;
}

.dday_wrap .countdown .myDay {
    color: #333;
    font-size: 1.5rem;
    font-family: 'Crimson Pro';
}

.dday_wrap .countdown .desc {
    color: #333;
    opacity: .4;
}

.dday_wrap .myDay_count {
    margin-top: 10px;
    line-height: 1.2rem;
    font-size: 1rem;
}

.c_calendar {
    padding: 0 10px;
    margin: 2rem 3rem;
    border: 1px solid rgba(138, 146, 179, 0.15);
    border-left: 0;
    border-right: 0
}

.c_calendar_table {
    padding: 1.5rem 0;
    width: 100%;
}

.c_calendar_table>tbody tr td:first-child,
.c_calendar_table>thead tr th:first-child {
    color: #d099a1;
}

.c_calendar_eday>div {
    background: var(--icon-color)
}

.c_calendar_eday>.c_calendar_holiday {
    opacity: .3
}

.c_calendar_table>thead tr th {
    padding-bottom: 8px;
    font-size: 1rem;
    line-height: 1rem;
    font-family: 'GyeonggiBatang';
    font-weight: normal;
    color: #333;
}

.c_calendar_table>tbody tr td {
    font-size: 1rem;
    line-height: 2rem;
    font-family: 'GyeonggiBatang';
    font-weight: normal;
    color: #333;
}

.c_calendar tr {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}

#app .c_calendar_table {
    line-height: 1.8rem
}

.calendar_wrap .my_wedding_day {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='enable-background:new 0 0 300 257' viewBox='0 0 300 257'%3E%3Cpath d='M279.65 145.59C261.06 174.73 204.45 233.15 150 257 95.55 233.15 38.94 174.73 20.35 145.59 6.41 123.73-1.26 100.47.17 74.61c1.25-22.47 12.64-44.19 30.46-58.02C48.45 2.77 72.39-2.92 94.55 1.44c23.64 4.64 44.64 20.82 55.46 42.22 10.82-21.4 31.81-37.58 55.46-42.22 22.15-4.36 46.09 1.33 63.91 15.15 17.82 13.83 29.21 35.55 30.46 58.02 1.42 25.86-6.25 49.12-20.19 70.98z' style='fill:%23ea7664'/%3E%3C/svg%3E") no-repeat 50% -1px;
    background-size: 100% 100%;
    color: #fff;
    font-weight: 700;
}

.gallery_wrap h4 {
    margin-bottom: 40px;
}

.map_wrap {
    background: #fbfbfd;
    padding: 60px 0;
}

.map_wrap .map_container .title,
.account_wrap .account_container .title {
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: 200;
    color: #333;
}

.copy_popup {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    padding: 6px 12px;
    font-size: 0.8rem;
    color: #fff;
    line-height: 1.2rem;
    border-radius: 5px;
    left: 50%;
    transform: translate(-50%, 20px);
}

#copy-map-address {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    line-height: 0.9rem;
    color: #333;
    margin: 10px 0 50px;
}

.navi_btn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 10px 0;
    background: #fff;
    border: 1px solid #ddd;
    margin: 30px 20px 60px;
}

.navi_btn>a {
    font-size: 0.8rem;
    line-height: 0.9rem;
    color: #333;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #eee;
    width: 100%;
    text-align: center;
}

.navi_btn>a:last-child {
    border-right: none;
}

.navi_btn>a::before {
    content: '';
    display: inline-flex;
    width: 17px;
    height: 17px;
    background-size: 17px auto;
    padding-right: 5px;
}

.kakaoNavi::before {
    background: url(../images/kakaonavi.jpeg) no-repeat 0 50%;
}

.naverNavi::before {
    background: url(../images/navermap.jpeg) no-repeat 0 50%;
}

.tmapNavi::before {
    background: url(../images/tmap.jpeg) no-repeat 0 50%;
}

.map_info {
    line-height: 1rem;
    padding: 0 20px;
}

.map_info li {
    margin-top: 30px;
}

.map_info .title {
    text-align: left;
    font-size: 0.9rem;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #8A92B3;
}

.map_info .text {
    text-align: left;
    font-size: 0.8rem;
}

.map_info .text>p {
    text-align: left;
}

.map_info .highlight {
    text-decoration: none;
    color: #ea7664;
    font-style: normal;
}

.account_wrap {
    padding: 60px 0;
    background: #fff;
}

.account_wrap .item {
    border: 1px solid #ddd;
    font-size: 0.8rem;
    padding: 6px;
    margin: 40px 20px 20px;
    border-radius: 5px;
}

.account_wrap .item:last-child {
    margin-top: 10px;
}

.account_wrap .item .arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23666' class='style-icon arrow-icon absolute top-1/2 right-6 -translate-y-1/2 justify-self-end' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m19 9-7 7-7-7'/%3E%3C/svg%3E");
}

.account_wrap .item .title {
    font-size: 0.8rem;
    position: relative;
}

.account_wrap .item .account_info {
    display: none;
}

.account_wrap .item.on .arrow {
    transform: rotate(180deg) translate(0, 50%);
}

.account_wrap .item.on .account_info {
    display: block;
}

.account_wrap .item.on .title {
    border-bottom: 1px solid #ddd;
}

.account_info {
    padding: 10px 10px 0;
}

.account_info li {
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.account_info li:last-child {
    border-bottom: none;
}

.account_info>li>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
}

.account_info>li>div>p {
    font-size: 0.9rem;
}

.kakao_pay {
    background: url(../images/kpay_a.jpeg) no-repeat 50% 50%;
    background-size: 36px auto;
    width: 64px;
    height: 30px;
    background-color: #fae14b;
    border-radius: 5px;
}

.copy_account_btn {
    width: 64px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 10px;
    font-size: 0.9rem;
    line-height: 0.9rem;
    color: #333;
}

.thankU {
    font-size: 0.6rem;
    line-height: 1rem;
    color: #666;
    margin: 50px 0 80px;
}

.thankU h4 {
    font-family: 'Francisco';
    font-size: 2rem;
    margin-bottom: 0;
    line-height: 2rem;
    color: #888;
    font-weight: normal;
}

.thankU {
    background: #fbfbfd;
    padding: 60px 0;
}

.share_btn {
    background-color: #fbfbfb;
    height: 50px;
    width: 150px;
    border: none;
    text-align: center;
    padding: 2px;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.layer_pop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -9999;
    visibility: hidden;
}

.layer_pop.open {
    z-index: 10;
    visibility: visible;
}

.call_pop .pop_inner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: 3;
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
}

.pop_header {
    position: relative;
    background: #c7cce1;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}

.layer_pop .close_btn {
    font-size: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    bottom: 45px;
    transform: translate(-50%, 0);
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='m18 18-6-6m0 0L6 6m6 6 6-6m-6 6-6 6'/%3E%3C/svg%3E");
}

.layer_pop .gallery_pop {
    width: 90vw;
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, -60%);
}

.layer_pop .gallery_pop img {
    width: 100%;
}

.font-size-zoom {
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 2;
}

.font-size-zoom>div {
    border: 1px solid #ddd;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}